*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    margin: auto;
    max-width: 700px;
    background-color: yellow;
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
}
.cell{
    width: calc(100% / 10);
    height: 50px;
    background-color: azure;
    border: 1px solid blue;
}

.clicked{
    background-color: blue;
}